/* CSS Reset */
* {
	padding:0;
	margin: 0;
	font-family: ‘Hind’, sans-serif;
}

h1 { 
	font-family: ‘Hind’, sans-serif; font-weight: 200; 
	font-size: 35px;
	margin-top: 10px; 
}

header{
	margin-bottom: 40px; 
	text-align: left;
	width: 40%;

}

body{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 40px;
	margin-left: 25px;
	width: 100%;
}

p{
	font-weight: 300;
}

h2{
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 400;
}

h3{
	font-weight: 400;
}

h4, h5{ 
	font-weight: 400;
}

h5{
	color:#939598;
}

ul {
	list-style:none;
	font-weight: 300;
}

li{
	font-size: 13px;
}

a{
	text-decoration: none;
	color:#0badb7;
}

.company, .company_first, .company_last{
	display: inline-block;
	width: 20%;
	position: relative;
	float: left;
	text-align: right;
	padding-right: 10px;
	height: 100%;
}

.company_first{
	margin-top: 142px;
}

.company_last{
	margin-bottom: 200px;
}

.job_details, .job_details_last{
	display: inline-block;
	width: 60%;
	position: relative;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.right_column{
	display: inline-block;
	width: 15%;
	position: absolute;
	margin-bottom: 30px;
	margin-top: 85px;
	padding-left: 10px;
	padding-right: 20px;
	color:#939598;
}