/* CSS Reset */
* {
		padding:0;
		margin: 0;
}

body {
	width: 600px;
	margin: auto;	
}

header {
	border-bottom: 1px solid lightgrey;
	text-align: center;
}

header img {
	width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}

article img{
	margin-top:50px;
	margin-bottom:30px;
}

h2{
	margin-bottom: 8px;
}

ul{
	display:flex;
	list-style: none;
}

li{
	font-size: 14px;
	font-family: sans-serif;
	padding-right: 5px;
	border-right: 1px solid grey;
	color: #66D9EF;
}

li:first-child {
	padding-top: 0px;
}

li:last-child{
	border:none;
	margin-left: 5px;
}

p{
	color:dimgrey;
}

.nav {
	margin-top:20px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

h3{
	flex:1;
	font-size: 18px;
	font-family: sans-serif;
	padding-right: 3px;
	margin-right: 3px;
}

.content{
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: flex-start;
}

.first_story{
	flex:1;
	padding: 10px 0;

}

.second_story{
	display: flex;
	flex:1;
	padding: 10px 0;
}

.story_teaser{
	flex:1;
}

.second_story img{
	width:90px;
	margin-left: 6px;
}

